@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/box.gif) center no-repeat #fff;
}
body {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
img {
  max-width: 100%;
}
h1 {
  font-family: 'Poiret One', cursive;
  letter-spacing: 0.2em;
  color: black;
  text-align: center;
  font-size: 38px;
  padding: 10px;
}
h2, h3 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
}
h4 {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: #B9AEE0;
}
.hidden {
  display: none;
}
hr {
  max-width: 80%;
}
.button {
  border: 1px solid black;
  padding: 5px;
  border-radius: 0.5em;
  margin: 10px;
}
.button:hover {
  background-color: #B9AEE0;
  color: white;
  box-shadow: 2px 2px 5px black;
  border: 1px solid gainsboro;
}
.container {
  margin-right: -5%;
  margin-left: -2%;
  margin-top: -10px;
}

/* Left Side */

.left {
  width: 45%;
  float: left;
  height: 100%;
}
.left-text-links {
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.left-text-links:hover {
  color: #B9AEE0;
  cursor: pointer;
}
.social-media:hover {
  background-color: #B9AEE0;
  border-radius: 40%;
}
#github {
  width: 50px;
  border-radius: 50%;
}
#email {
  width: 61px;
  margin-bottom: -3px;
}
.left-contact h1 {
  margin-bottom: 10px;
}
.socialmedia a{
  margin: 0 10px;
}
/* Right Side */

.right {
  background-image: url(images/main.jpg);
  background-size: cover;
  background-position: center;
  width: 48%;
  float: left;
  margin-right: -30px;
  background-repeat: no-repeat;
  padding: 20px;
  margin-top: -10px;
  margin-right: -10px;
  position: relative;
  height: 100vh;
}
.aboutMeText p {
  color: white;
  font-family: 'Montserrat', cursive;
  letter-spacing: 0.05em;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}
@media screen and (max-width:560px) and (max-height:600px) {
  .aboutMeText p {
    font-size: 14px;
    padding: 0px;
    text-align: center;
  }
}
.skillsText{
	padding: 50px;
}
.skillsText li {
  display: inline;
  font-size: 4rem;
  color: white;
  list-style-type: none;
  margin: 0 20px;
	line-height: 6rem;
}
.projectsImages {
  display: inline-block;
}
.projectsImages img {
  width: 200px;
}
.left-contact2 {
  display: none;
}
.allText img {
  margin-top: -10%;
  margin-bottom: -7%;
}
.banner {
  display: none;
}
.resumeText {
  background-image: url('CSS/images/resume.jpg') !important;
  background-size: contain !important;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* About Me text Size - Computer*/

@media screen and (min-width:820px) {
  .aboutMeText p {
    font-size: 30px;
  }
  .aboutMeText p {
    margin: 15% 5%;
  }
}
.rightText {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* Landscape Mobile */

@media screen and (max-width:750px) and (max-height:450px) {
  h1 {
    font-size: 23px;
    padding: 5px;
  }
  .left-text h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .right {
    height: 400px;
  }
  #textChange, .left-contact {
    margin-top: 0px;
  }
  .aboutMeText h3 {
    font-size: 17px;
  }
  .socialmedia img {
    width: 40px;
  }
  #github {
    width: 35px;
  }
  #email {
    width: 43px;
  }
  .skillsText li {
    font-size: 3rem;
  }
  .skillsText {
    margin-top: 30%;
  }
}

/* Portrait Mobile and Computer Version - */

@media screen and (max-width:768px) {
  /*.left-text h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
  }*/
  h1 {
    font-size: 30px;
  }
  .left {
    min-width: 100%;
  }
  .left-contact {
    display: none;
  }
  .container {
    background-image: none;
    max-height: 100vh;
    overflow: scroll;
    margin-top: -10px;
  }
  .projectsText {
    margin-top: 0px;
  }
  .projectsText h2 {
    font-size: 15px;
    margin: 3px;
  }
  .right {
    background-image: url(images/main.jpg);
    height: 47vh;
    float: left;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    margin: 20px 0 30px 0;
  }
  .left-contact2 {
    display: block;
  }
  .skillsText{
    padding: 10px;
    overflow: scroll;
  }
  .skillsText li {
    font-size: 3rem;
    margin: 15px;
    line-height: 1.5;
  }
  .left-text-links{
    display: inline;
    padding: 0 30px;
    font-size:15px;
    line-height: 30px;
  }
  .left-text{
    white-space: nowrap;
    overflow: auto;
  }
  .rightText{
    overflow: scroll;
  }
  .aboutMeText p{
    font-size: 17px;
    padding: 30px;
  }
}


.projectsTextLinks {
  display: inline-block;
}
